<div class="header container-xl px-0">
  <div class="row g-0 align-items-lg-center">
    <div class="col-12 col-lg-4">
      <h1 class="header-logo">
        <a href="#">
          <img
            class="d-lg-none"
            src="../assets/images/Logo-sm.png"
            alt="Badminton Life字樣，左邊有一個毛球圖案"
          />
          <img
            class="d-none d-lg-block"
            src="../assets/images/Logo.png"
            alt="Badminton Life字樣，左邊有一個毛球圖案"
          />
        </a>
        <a class="header-icon-menu d-lg-none" href="#"
          ><img
            src="../assets/images/icons/menu.png"
            alt="三條左右延伸的黑色橫槓，其中中間的橫槓由右往左延伸，但沒有延伸到底。"
        /></a>
        <a class="header-icon-close d-none" href="#"
          ><img src="../assets/images/icons/close.png" alt="叉叉記號"
        /></a>
      </h1>
    </div>
    <!--! 記得nav在手機版是d-none -->
    <div class="col-12 col-lg-8 d-lg-block">
      <nav class="header-nav d-lg-flex justify-content-end">
        <ul class="list d-lg-flex">
          <li class="list-item"><a href="#">Ranking</a></li>
          <li class="list-item"><a href="#">Player</a></li>
          <li class="list-item"><a href="#">Contest</a></li>
          <li class="list-item"><a href="#">Forum</a></li>
          <li class="list-item"><a href="#">Analysis</a></li>
          <li class="list-item"><a href="#">Sign in</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
