<!-- ! player個人資料頁 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/meta'); -%>
    <title>Competition</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container-xl px-0">
      <div class="banner">
        <img
          class="banner-img"
          src="../assets/images/players/player-chou-tien-chen.jpeg"
          alt="周天成"
        />
        <h3 class="banner-title">Competition</h3>
      </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
