<!-- ! 建立元件測試頁面 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/meta'); -%>
    <title>Component</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container-xl px-lg-0">
      <!-- component testing -->
      <!-- Button trigger modal -->
      <a
        href="#"
        class="btn-sm btn--secondary"
        data-bs-toggle="modal"
        data-bs-target="#changePassword"
      >
        Modal Test
      </a>

      <!-- Modal -->
      <div class="modal fade" id="changePassword">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          aria-label="Cancel"
        ></button>
        <div class="modal-body">...</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
