<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/meta'); -%>
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container">
      <h1 class="index-title fs-1">Welcome to Badminton Life!</h1>
      <img src="../assets/images/menu-banner.jpeg" alt="" />
      <img src="../assets/images/countries/THA.png" alt="" />
      <button class="btn btn-green-primary">button</button>
      <%- include('./layout/footer'); -%>
    </div>
    <script type="module" src="../main.js"></script>
  </body>
</html>
